.input {
    border: 1px solid black;
    width: 100%;
}

.bottomActions {
    margin-top: 20px;
}

.drop {
    display: inline;
    float: left;
}

.postButton {
    display: inline;
    float: right;
    width: 100px;
    background-color: #FFFF00;
}