.container {
    background-color: #EFF0F0;
    margin-top: 10px;
    padding: 20px;
}

.postHeader {
    flex-direction: row;
    display: flex;
    align-items: center;
    align-content:space-between;
    justify-content: space-between;
    vertical-align: middle;
}

.adminUserGroup {
    flex-direction: row;
    display: inline;
    float: left;
    vertical-align:middle;
    margin-bottom: 5px;
}

.admin {
    font-size: 22px;
    display: inline;
    padding-left: 5px;
    justify-content: center;
    vertical-align: middle;
}

.date {
    flex-direction: row;
    justify-content: center;
    align-content: center;
    display: inline;
    float: right;
}

.postContainer {
    padding: 5px;
}

.title {
    font-size: 20px;
    font-weight: bold;
    padding-left: 10px;
}

.category {
    flex-direction: row;
    align-items: 'center';
    font-size: 12px;
    padding-left: 10px;
    font-style: italic;
    color: grey;
    line-height: 0;
}

.fa-user-circle {
    margin-right: 5px;
}

.content {
    padding-left: 10px;
    text-align: justify;
    margin-bottom: 0;
}

.action {
    float: right;
    padding-left: 15px;
}