.container {
    background-color: #EFF0F0;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 10px;
}

.postHeader {
    flex-direction: row;
    display: flex;
    align-items: center;
    align-content:space-between;
    justify-content: space-between;
    vertical-align: middle;
}

.adminUser {
    flex-direction: row;
    display: inline;
    float: left;
    vertical-align:middle;
}

.date {
    flex-direction: row;
    justify-content: center;
    align-content: center;
    display: inline;
    
}

.postContainer {
    padding: 5px;
}

.title {
    font-size: 18;
    font-weight: bold;
}

.category {
    flex-direction: row;
    align-items: 'center';
    font-size: 12px;
}

.fa-user-circle {
    margin-right: 5px;
}