.navbar {
  background: #333;
}

.navbar .navbar-brand {
  width: 198px;
}
.navbar .btn-search {
  background: #343a40;
  color: #fff;
  border-color: #343a40;
}

.category-buttons a {
  margin-right: 15px;
}

#sidebar-container {
  min-height: 100vh;
  background-color: #333;
  padding: 0;
}

.sidebar-expanded {
  width: 230px;
}
.sidebar-collapsed {
  width: 60px;
}

#sidebar-container .list-group .main-menu {
  height: 50px;
  color: white;
  background: #343a40;
}
#sidebar-container .list-group .main-menu:hover {
  color: #fff;
}

#sidebar-container a.list-group-item {
  background: #1e2125;
  color: #fff;
}
#sidebar-container a.list-group-item:hover {
  color: #ffff00;
}

#sidebar-container
  .list-group
  .list-group-item[aria-expanded="false"]
  .submenu-icon::after {
  content: " \f0d7";
  font-family: FontAwesome;
  display: inline;
  text-align: right;
  padding-left: 10px;
}
#sidebar-container
  .list-group
  .list-group-item[aria-expanded="true"]
  .submenu-icon::after {
  content: " \f0da";
  font-family: FontAwesome;
  display: inline;
  text-align: right;
  padding-left: 10px;
}
.App {
  background-color: #eff0f0;
  height: 100vh;
}

.avatar img {
  border-radius: 25px;
  width: 50px;
  object-fit: cover;
}
.align-middle td {
  vertical-align: middle !important;
}
